<div id="body">


  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search for a movie..." />
    <button (click)="searchMovies()">Search</button>
  </div>


    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Sort By Genre </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="genre">
          <button *ngFor="let genre of genres" (click)="getMoviesByGenre(genre)"  
          [ngClass]="{'active-genre': selectedGenre === genre}">{{ genre }}</button>
        </div>   
      </mat-expansion-panel>
    </mat-accordion>
  
    <div id="card-container">

      <mat-card id="card" *ngFor="let movie of movies" (click)="openDialog(movie)">
        <mat-card-header>
          <div id="movie-image">
            <img [src]="movie.image" alt="">
          </div>
        </mat-card-header>
        <mat-card-content id="movie-details">
          <ul>
            <li id="title">{{movie.title}}</li>
            <li id="rating"><span class="star-icon">&#9733;</span> {{movie.rating}}</li>
          </ul>
          <button (click)="toggleFavorite(movie, $event)" class="heart-button" [class.favorited]="movie.favourite">
            <svg class="heart-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.04L12 21.35Z"/>
            </svg>
          </button>
          
        </mat-card-content>
      </mat-card>

      <div *ngIf="!movies || movies.length === 0" id="empty">
        Sorry, No Movies Found
      </div>
    </div>
  </div>
  