.mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

/* Hide left buttons on mobile */
@media (max-width: 600px) {
  .left-buttons {
    display: none; 
  }
}
