<mat-toolbar color="primary">
  <!-- Left routing buttons for larger screens -->
  <a class="navbar-brand" href="#">CinemaWave</a>
  <ng-container *ngIf="!isMobile; else mobileNavTemplate">
    <span class="left-buttons">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/favourites">Favourites</button>
    </span>

    <span class="spacer"></span>

    <!-- Right buttons for login and signup when not logged in -->
    <span *ngIf="!isLoggedIn">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/signup">Signup</button>
    </span>
  </ng-container>

  <!-- Dropdown for mobile navigation -->
  <ng-template #mobileNavTemplate>
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/favourites">Favourites</button>

      <ng-container *ngIf="!isLoggedIn">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/signup">Signup</button>
      </ng-container>
    </mat-menu>
  </ng-template>

  <!-- Account icon (always displayed, regardless of mobile or large screen) -->
  <span *ngIf="isLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Welcome {{ name }}</span>
        <br>
        <small>Email: {{ email }}</small>
      </button>
      <button mat-menu-item (click)="signout()">Sign out</button>
    </mat-menu>
  </span>
</mat-toolbar>
